body{
	background: #f2f2f2;
}

.row.login_section.ng-scope {
    color: #b46e3c;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

button.btn.btn-default.login_btn {
    border-radius: 0;
    background: #04427f;
    color: #fff;
    border: 0;
    width: 250px;
    margin: 0 auto;
    display: block;
}

h4.login_txt.ng-binding {
    text-align: center;
    font-size: 20px;
    color: #000;
}

img.user_profile {
    width: 200px;
}

button.btn.btn-default.logout_btn {
    border-radius: 0;
    background: #04427f;
    color: #fff;
    border: 0;
    width: 200px;
}

.card.ng-scope {
    position: relative;
    display: block;
    margin-bottom: .75rem;
    /* color: #fff; */
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #ededed;
    border-color: #c1c1c1;
    padding: 10px;
}

h4.user_txt {
    color: #fff;
}

